<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Orchard Skills</a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <fa-icon [icon]="['fas', 'bars']"></fa-icon>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->

      <div class="ml-auto">
        <button
          *ngIf="!isLoggedIn"
          (click)="login()"
          type="button"
          class="btn btn-primary"
        >
          Login
        </button>
        <button
          *ngIf="isLoggedIn"
          (click)="logout()"
          type="button"
          class="btn btn-danger"
        >
          Logout
        </button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
